<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1><img src="img/granslive-logo.png" width="75%" /></h1>
            </div>
        </div>

        <div class="padding">
            <button class="button button-full button-assertive ink icon-left ion-social-googleplus social-login" data-ng-click="loginWithGoogle();">Sign in with Google</button>
        </div>

    </ion-content>
</ion-view>
