
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- IBM Watson Logo -->
            <div class="navbar-header">
                <a class="navbar-brand no-underline" href="#/"><span class="thin-branding">IBM - CSC</span> Watson Demo</a>
            </div>
            <div class="float-right">
                <ul class="nav navbar-nav navbar-right">
                  <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Demos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ng-href="#/demos/translation">Translation Demo</a></li>
                      <li><a href="#/demos/speechTospeech">Speech to Speech Demo</a></li>
                      <li><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html" target="_blank">App Gallery</a></li>
                    </ul>
                  </li> -->
                    <li><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html" target="_blank">Services</a></li>
                    <li><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/" target="_blank">Docs</a></li>
                    <li><a href="https://developer.ibm.com/watson/" target="_blank" >Community</a></li>
                </ul>
            </div>
            <!-- .navbar right-->
        </div>
        <!-- .container -->
    </nav>
    <!-- .navbar -->
